#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#character {
  width: 50px;
  height: 50px;
  /* background-color: brown; */
  position: relative;
  top: 150px;
  background-image: 684747-200png;
}
div.image {
  content: url("https://static.thenounproject.com/png/684747-200.png");
}

#block {
  width: 20px;
  height: 10px;
  background-color: blue;
  position: relative;
  top: 140px;
  left: 480px;
}

@keyframes enemymove {
  0% {
    left: 480px;
  }
  30% {
    left: 380px;
  }
  70% {
    left: 150px;
  }
  100% {
    left: 00px;
  }
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 125px;
  }
  100% {
    top: 150px;
  }
}

.animate {
  animation: jump 600ms linear;
}

.enemyanimate {
  animation: enemymove 3000ms infinite linear;
}
